<!--encrypt-->
<h3>Alphabetic Cipher</h3>

<div class="row" ng-show="errorMessage">
    <div class='lg-col-12 panel panel-default'>
        <div class='panel-body bg-danger'>
            <p class=''>{{errorMessage}}</p>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-10">
        <input ng-model="plainText" type="text" class="form-control" placeholder="Enter message to encrypt here...">
    </div>
</div>
<br>
<div class='row'>
    <div class='col-lg-10'>
        <input ng-model="encryptKey" type="text" value="{{encryptKey}}" class="form-control" placeholder="key">
    </div>
    <div class="col-lg-1">
        <button class="btn btn-success pull-right" type="button" ng-click="encrypt(plainText)">Encrypt!</button>
    </div>
</div>
<br>
<div class='row'>
    <div class="col-lg-12">
        <div class="input-group">
            <span class="input-group-addon">
                Cipher Text: 
            </span>
            <input readonly type="text" id="cipherTextOutput" class="form-control" value="{{alphaOutputCipher}}" placeholder="">
        </div><!-- /input-group -->
    </div>
</div>
<!--end encrypt-->
<br><br>
<!--decrypt-->
<div class="row">
    <div class="col-lg-10">
        <input ng-model="cipherText" type="text" class="form-control" placeholder="Enter message to decrypt here...">
    </div>
</div>
<br>
<div class='row'>
    <div class='col-lg-10'>
        <input ng-model="decryptKey" type="text" value="{{decryptKey}}" class="form-control" placeholder="key">
    </div>
    <div class="col-lg-1">
        <button class="btn btn-danger pull-right" type="button" ng-click="decrypt(cipherText)">Decrypt!</button>
    </div>
</div>
<br>
<div class='row'>
    <div class="col-lg-12">
        <div class="input-group">
            <span class="input-group-addon">
                Plain Text: 
            </span>
            <input readonly type="text" id="plainTextOutput" class="form-control" value="{{alphaOutputPlain}}" placeholder="">
        </div><!-- /input-group -->
    </div>
</div>
<!--decrypt-->

