<!--encrypt-->
<h3>Maze Search</h3>
<br>
<div class="row">
    <div class='col-lg-offset-3 col-lg-10'>
        <table>
            <tbody>
                <tr id='1'>
                    <td id="1" class='maze-cell'></td>
                    <td id="2" class='maze-cell'></td>
                    <td id="3" class='maze-cell'></td>
                    <td id="4" class='maze-cell'></td>
                    <td id="5" class='maze-cell'></td>
                    <td id="6" class='maze-cell'></td>
                </tr>
                <tr id='2'>
                    <td id="1" class='maze-cell'></td>
                    <td id="2" class='maze-cell'></td>
                    <td id="3" class='maze-cell'></td>
                    <td id="4" class='maze-cell'></td>
                    <td id="5" class='maze-cell'></td>
                    <td id="6" class='maze-cell'></td>
                </tr>
                <tr id='3'>
                    <td id="1" class='maze-cell'></td>
                    <td id="2" class='maze-cell'></td>
                    <td id="3" class='maze-cell'></td>
                    <td id="4" class='maze-cell'></td>
                    <td id="5" class='maze-cell'></td>
                    <td id="6" class='maze-cell'></td>
                </tr>
                <tr id='4'>
                    <td id="1" class='maze-cell'></td>
                    <td id="2" class='maze-cell'></td>
                    <td id="3" class='maze-cell'></td>
                    <td id="4" class='maze-cell'></td>
                    <td id="5" class='maze-cell'></td>
                    <td id="6" class='maze-cell'></td>
                </tr>
                <tr id='5'>
                    <td id="1" class='maze-cell'></td>
                    <td id="2" class='maze-cell'></td>
                    <td id="3" class='maze-cell'></td>
                    <td id="4" class='maze-cell'></td>
                    <td id="5" class='maze-cell'></td>
                    <td id="6" class='maze-cell'></td>
                </tr>
                <tr id='6'>
                    <td id="1" class='maze-cell'></td>
                    <td id="2" class='maze-cell'></td>
                    <td id="3" class='maze-cell'></td>
                    <td id="4" class='maze-cell'></td>
                    <td id="5" class='maze-cell'></td>
                    <td id="6" class='maze-cell'></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
