.maze-cell{
    width:75px;
    height:75px;
    border:1px solid black; 
    text-align:center;
}
.outer-cell{
    border:none; 
}

.goal{
    background-color:green; 
}

.start{
    background-color:red; 
}

.block{
    background-color:black; 
}

.visited{
    background-color:#66CCFF; 
}

.current{
    background-color:blue; 
}
